<div [formGroup]="validationForm" *ngIf="truckTypes">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
        <div  fxFlex="50%">
            <h4>Original email</h4>
            <mat-card class="originalEmail" [innerHtml]="ticket.email_html"></mat-card>
        </div>
        <div fxFlex="50%">
            <h4 style="align-content: center;">Location details</h4>
            <div fxLayout="row" fxLayoutGap="20px">
              

                <mat-form-field>
                    <mat-label>Location from</mat-label>
                    <input matInput formControlName="locationFrom" >
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Country from</mat-label>
                    <input matInput formControlName="countryFrom" >
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Postcode from</mat-label>
                    <input matInput formControlName="postcodeFrom" >
                </mat-form-field>
               
                
            </div>
            <mat-form-field fxLayout="row" fxLayoutGap="20px">
                <input  formControlName="loadTime" matInput [ngxMatDatetimePicker]="loadPicker" 
                    placeholder="Loading Time" >
                <mat-datepicker-toggle matSuffix [for]="loadPicker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #loadPicker></ngx-mat-datetime-picker>


            </mat-form-field>
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field>
                    <mat-label>Location to</mat-label>
                    <input matInput formControlName="locationTo" >
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Country to</mat-label>
                    <input matInput formControlName="countryTo" >
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Postcode to</mat-label>
                    <input matInput formControlName="postcodeTo" >
                </mat-form-field>
            </div>
            <mat-form-field fxLayout="row">
                <input matInput formControlName="unloadTime" [ngxMatDatetimePicker]="unloadPicker" 
                    placeholder="Unloading Time" >
                <mat-datepicker-toggle matSuffix [for]="unloadPicker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #unloadPicker></ngx-mat-datetime-picker>
            </mat-form-field>
            <h4>Cargo details</h4>
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex="30%">
                    <mat-label>Weight</mat-label>
                    <input matInput formControlName="goods_weight" >
                </mat-form-field>
                <div fxFlex="70%">
                    <span style="margin-top:12px;">EuroPallets</span>
                    <mat-slider formControlName="goods_europallets" fxFlex min="0" max="10" step="1" thumbLabel="true">
                    </mat-slider>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="40px">
                <mat-form-field fxFlex="30%">
                    <mat-label>Truck Type</mat-label>
                    <mat-select formControlName="truckType" required [(value)]="truckTypeSelected">
                        <mat-option *ngFor="let truckType of truckTypes"  [value]="truckType.name" >
                            {{truckType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="70%">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Enter any special request for this cargo"
                        formControlName="special_request" ></textarea>
                </mat-form-field>
            </div>
        </div>


    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <!-- <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checkSafeFleet">SafeFleet</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checkBursaTransport">Bursa Transport</mat-checkbox>
        </section> -->
        <button mat-raised-button color="primary" (click)="onSubmit()">Validate Offer</button>


    </div>